<div class="navbar navbar-default_footer navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2016 - CMPFO
        <a href="#" target="_blank">e-services</a>
        </p>
    </div>
</div>